In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
## Condos CSV

# Read CSV
condos_df = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/condos.csv')
del condos_df["StateName"]
miami_condos_df = condos_df[condos_df["Metro"] == "Miami-Fort Lauderdale-West Palm Beach"]

miami_condos_df.head(5)

,RegionID,SizeRank,RegionName,RegionType,State,City,Metro,CountyName,1/31/00,2/29/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
121,124381,134,Flagami,Neighborhood,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,75689.0,76063.0,...,182571.0,185374.0,188026.0,190355.0,193537.0,196396.0,199930.0,202928.0,208014.0,213124
127,269072,142,Little Havana,Neighborhood,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,85415.0,85603.0,...,186930.0,189428.0,192445.0,195758.0,199807.0,202847.0,206413.0,208877.0,213941.0,219143
172,269228,190,Alameda - West Flagler,Neighborhood,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,95084.0,95268.0,...,199807.0,203616.0,207055.0,210996.0,214659.0,217837.0,220257.0,222513.0,227527.0,233381
198,123423,220,Allapattah,Neighborhood,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,108714.0,108565.0,...,174923.0,177794.0,180321.0,182751.0,186486.0,189622.0,193846.0,197279.0,203645.0,209279
218,268938,240,Coral Way,Neighborhood,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,122942.0,123113.0,...,284164.0,289149.0,294029.0,299379.0,305622.0,310966.0,317094.0,323029.0,332180.0,342727

In [3]:
# Condo Price Data
price_df = miami_condos_df.iloc[:, 8:]
price_df.head(5)

price_df_T = price_df.T
price_df_T.columns = price_df_T.columns.astype(str)
price_df_T.insert(0, "Date", price_df.columns.values.tolist())
price_df_T.Date = pd.to_datetime(price_df_T.Date).dt.date
price_df_T.head(5)

,Date,121,127,172,198,218,268,311,422,426,...,3978,3985,3989,4009,4052,4062,4116,4123,4125,4129
1/31/00,2000-01-31,75689.0,85415.0,95084.0,108714.0,122942.0,49521.0,NaN,214705.0,NaN,...,NaN,NaN,NaN,NaN,63332.0,371794.0,350706.0,NaN,160786.0,NaN
2/29/00,2000-02-29,76063.0,85603.0,95268.0,108565.0,123113.0,49703.0,NaN,215467.0,NaN,...,NaN,NaN,NaN,NaN,63760.0,371035.0,351808.0,NaN,160828.0,NaN
3/31/00,2000-03-31,76690.0,85886.0,95417.0,108081.0,122901.0,49833.0,NaN,216207.0,NaN,...,NaN,NaN,NaN,NaN,64213.0,371213.0,352549.0,NaN,160791.0,NaN
4/30/00,2000-04-30,77655.0,86331.0,95860.0,107949.0,122840.0,49993.0,NaN,217773.0,NaN,...,NaN,NaN,NaN,NaN,65000.0,372567.0,353750.0,NaN,161225.0,NaN
5/31/00,2000-05-31,78405.0,86751.0,96294.0,107051.0,122568.0,50169.0,NaN,219102.0,NaN,...,NaN,NaN,NaN,NaN,66315.0,375979.0,357318.0,NaN,162305.0,NaN

In [ ]:
# ARIMA example
from statsmodels.tsa.arima.model import ARIMA
from random import random

# contrived dataset
data = [x + random() for x in range(1, 100)]
# fit model
model = ARIMA(data, order=(1, 1, 1))
model_fit = model.fit()
# make prediction
yhat = model_fit.predict(len(data), len(data), typ='levels')
print(yhat)

ValueError: Missing column provided to 'parse_dates': 'date'